<?xml version='1.0' encoding='utf-8'?>
<!-- below was added to Widget top -->
<!-- xmlns:gap="http://phonegap.com/ns/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android"> 
    <gap:config-file platform="android" parent="/manifest">
         <application android:debuggable="true" />
    </gap:config-file> -->
<!-- above was added to Widget top -->
<!-- <widget 
    id="com.gilg.armalarm" 
    version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:gap="http://phonegap.com/ns/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">  -->
<widget 
    id="com.gilg.armalarm" 
    version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0"> 
    <name>ArmAlarm</name>
    <description>
        Arm and Disarm home alarm system
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <!-- <gap:config-file platform="android" parent="/manifest">
         <application android:debuggable="true" />
    </gap:config-file>   -->

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1500" />
    <preference name="AutoHideSplashScreen" value="true" />
</widget>
